.input-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 2.2rem 0;
    background-color: #987EFF;
    min-height: 93vh;
    width: 45%;
    border-radius: 1rem;
}
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.2rem;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.024);
}