* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: #987eff74;
}